<div class="row">
  <div class="col-12 col-lg-6">
    <h5>Regular Button</h5>

    <div class="d-grid">
      <button class="btn btn-primary" (click)="clickRegularButton()">
        Press me
      </button>
    </div>

    <p>(0): Button enabled for Double Click</p>
  </div>
  <div class="col-12 col-lg-6">
    <h5>Button 1</h5>

    <div class="d-grid">
      <button class="btn btn-primary" (click)="clickButtonOne()" [disabled]="buttonDisabled">
        <span *ngIf="!buttonDisabled">Press me</span>
        <span *ngIf="buttonDisabled">Wait 3 seconds...</span>
      </button>
    </div>

    <p>(1): Button with property to prevent Double Click after a certain time (3 [s]).</p>
  </div>
  <div class="col-12 col-lg-6">
    <h5>Button 2</h5>

    <div class="d-grid">
      <button class="btn btn-primary" (click)="clickButtonTwo()"
      appPreventDoubleClick (throttledClick)="log()" [throttleTime]="3000">
        Press me
      </button>
    </div>

    <p>(2): Button with directive to prevent Double Click after a certain time (3 [s]).</p>
  </div>
  <div class="col-12 col-lg-6">
    <h5>Button 3</h5>

    <div class="d-grid">
      <button class="btn btn-primary" (click)="clickButtonThree()" appPreventDoubleClick (throttledClick)="log()"
        [throttleTime]="3000" [disabled]="buttonThreeDisabled">
        <span *ngIf="!buttonThreeDisabled">Press me</span>
        <span *ngIf="buttonThreeDisabled">Wait 3 seconds...</span>
      </button>
    </div>

    <p>(3): (1) + (2)</p>
  </div>
</div>
